.loginForm,
.registrationForm {
    input {
        margin-bottom: 10px;
        height: 40px;
    }
    .form_buttons {
        margin-top: 20px;
        display: flex;
        align-items: center; 
        justify-content: flex-end; 
        @media screen and (max-width: 380px){
            flex-wrap: wrap;
            flex-direction: column-reverse; 
            align-items: end;
            button {
                margin-bottom: 10px;
            }
        }
 
        a {
            transition: all 0.2s;
            margin-right: 10px;
            &:hover {
                transition: all 0.2s;
                color: rgb(109, 109, 109);
            }
        }
        button {
            font-size: 18px;
        }
    }
}