@import './../../../../Styles/variables.scss';

.create_new_message {
    display: flex; 
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 0 0 20px 20px;
    border-top: 1px solid rgb(224, 224, 224);
    height: 85px;

    textarea {
        min-height: 0px; 
        height: 100%;
        overflow: auto;
        margin-bottom: -5.4px;
        border-radius: 20px 0 0 20px; 
    }
    button {
        background-color: $light-cyan-color;
        border-radius: 0 20px 20px 0;
        border: none;
        box-shadow: $standard-box-shadow; 
        transition: 0.3s;
        width: 50px;
        &:hover { 
            background-color: rgb(255, 255, 255);
            cursor: pointer; 
            img {
                filter: invert(0) opacity(55%)
            }
        }
        img {
            transition: 0.3s;
            max-width: 25px; 
            filter: invert(1); 
        }
    }
}