@import "./../../../Styles/variables.scss";

.card {
    display: flex;
    flex-direction: column;
    box-shadow: $standard-box-shadow;
    border-radius: 20px;
    padding: 28px;
    background-color: white;
    margin-bottom: 10px; 
    &:last-child {
        margin-bottom: 0;
    }
    .block__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 13px;
        align-items: center; 
        border-bottom: 1px solid rgb(219, 219, 219);
        .device_name {
            font-size: 22px;
        } 
        .order_info {
            display: flex;
            flex-direction: column;
            align-items: center; 
            .status { 
                margin-right: 15px;
                font-size: 21px;
            }
        }
    }

    .block__bottom {
        margin-top: 13px; 
        .break_description {
            margin-bottom: 20px;
        }
        .date {
            float: right;
        }
    }
}
