@import "./../../../Styles/variables.scss";

.new_order_form {
    .wrapper {
        padding: 48px 28px 28px 28px;
        font-size: 18px;
    }
    .block__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .order_title {
        font-size: 30px;
        font-weight: 600;
        background-color: $light-cyan-color;
        padding: 28px;
        border-radius: 20px 20px 0 0;
        color: white;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .subtitle {
        margin-bottom: 20px;
    }

    .personal_data,
    .device_description,
    .break_description,
    .additional_services {
        display: flex;
        flex-direction: column;
    }

    .device_description {
        max-width: 495px;
        width: 100%;
        margin-left: auto;
        .items {
            margin-right: -28px;
            border-radius: 60px 0 0 60px;
        }
        .title,
        .subtitle {
            text-align: right;
        }
    }
    @media screen and (max-width: 1064px) {
        .device_description {
            margin-top: 50px;
        }
    }

    .personal_data {
        max-width: 495px;
        width: 100%;
        .items {
            margin-left: -28px;
            border-radius: 0 60px 60px 0;
        }
    }

    .items {
        background-color: $light-cyan-color;
        padding: 28px;
        .item {
            max-width: 480px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            background-color: white;
            padding: 10px 10px 10px 20px;
            border-radius: 10px 10px 10px 10px;
            align-items: center;
            &:last-child {
                margin-bottom: 0;
            } 
        }
    }

    // Modificators

    .left {
        margin-left: -28px;
        border-radius: 0 40px 40px 0;
    }

    .right {
        margin-right: -28px;
        border-radius: 40px 0 0 40px;
    }
}
