$light-cyan-color: #5ccccc;
$dark-cyan-color: #33cccc; 

$light-blue-color: #6C8CD5;
$dark-blue-color: #4671D5;

$light-green-color: #67E667;
$dark-green-color: #39E639;

$standard-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
4px 4px 5px 0px rgba(0, 0, 0, 0.1);