.support {
    margin-top: 65px;
    border-top: 1px solid rgb(146, 146, 146);
    padding: 20px 0 20px 0; 
    .block_top,
    .block_bottom {
        padding: 6px 28px 0 28px;
        display: flex;
    }
    .number {
        font-weight: 600;
        margin-right: 5px;
        white-space: nowrap;
    }
    .support_working_time {
        color: rgb(83, 83, 83);
    }
} 
@media screen and (max-width: 587px){
    .block_bottom {
        margin-left: 138px;
    }
}