@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&display=swap'); 

body {
    font-family: montserrat;
    background-color: #f6f6f6;
    line-height: 1.4; 
    overflow-y: scroll;
} 

a {
    text-decoration: none;
    color: black;
} 